
#header{
    background-color: red;
    height: 100px;
}

#main{
    display: flex;
    flex-direction: column;
}

#meniu{
    background-color: yellow;
    
}

#meniu li{
    display: inline-block;
    
}

#continut{
    background-color: green;
    height:500px;
}

#footer{
    background-color: pink;
    height:50px;
    width: 100%;
    position: absolute;
    bottom: 0px;

}